<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <header>
        <h1>Product Overview & Comparison</h1>
    </header>

    <main>
        <section class="product-section">
            <div class="product-card">
                <div class="product">
                    <h2>Amazon </h2>
                    {% if am_result %}
                        <img src="{{ am_result.product_img_src}}" alt="Product Image">
                        <h3>{{ am_result.product_description }}</h3>
                        <p>Product Price: {{ am_result.product_price }}</p>
                        <p>Star Ratings: <span class="star-ratings">{{ am_result.product_star_ratings }}</span></p>
                        <p>Product Global Ratings: {{ am_result.product_global_ratings }}</p>
                    {% else %}
                        <p>No product details found for Amazon.</p>
                    {% endif %}
                </div>
                <div class="product">
                    <h2>Flipkart </h2>
                    {% if fp_result1 %}
                        <img src="{{ fp_result1.product_img_src }}" alt="Product Image">
                        <h3>{{ fp_result1.product_description }}</h3>
                        <p>Product Price: {{ fp_result1.product_price }}</p>
                        <p>Star Ratings: <span class="star-ratings">{{ fp_result1.product_star_ratings }}</span></p>
                        <p>Product Global Ratings: {{ fp_result1.product_global_ratings }}</p>
                    {% else %}
                        <p>No product details found for Flipkart.</p>
                    {% endif %}
                </div>

            </div>
        </section>

        <section class="product-section">
            <div class="product-card">
                <div class="product">
                    <h2>Amazon </h2>
                    {% if am_result1 %}
                        <img src="{{ am_result1.product_img_src}}" alt="Product Image">
                        <h3>{{ am_result1.product_description }}</h3>
                        <p>Product Price: {{ am_result1.product_price }}</p>
                        <p>Star Ratings: <span class="star-ratings">{{ am_result1.product_star_ratings }}</span></p>
                        <p>Product Global Ratings: {{ am_result1.product_global_ratings }}</p>
                    {% else %}
                        <p>No product details found for Amazon.</p>
                    {% endif %}
                </div>
                <div class="product">
                    <h2>Flipkart </h2>
                    {% if fp_result %}
                        <img src="{{ fp_result.product_img_src }}" alt="Product Image">
                        <h3>{{ fp_result.product_description }}</h3>
                        <p>Product Price: {{ fp_result.product_price }}</p>
                        <p>Star Ratings: <span class="star-ratings">{{ fp_result.product_star_ratings }}</span></p>
                        <p>Product Global Ratings: {{ fp_result.product_global_ratings}}</p>
                    {% else %}
                        <p>No product details found for Flipkart.</p>
                    {% endif %}
                </div>

            </div>
        </section>
    </main>

    <div class="analysis-button-container">
        <form action="/analysis">
            <button class="analysis-button">Go to analysis</button>
        </form>
    </div>
</body>
</html>
